[Unit]
Description=Gunicorn service for Appointment360 FastAPI
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/appointmentbackend
EnvironmentFile=/home/ubuntu/appointmentbackend/.env
ExecStart=/home/ubuntu/appointmentbackend/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000
RuntimeDirectory=appointmentbackend
RuntimeDirectoryMode=0755
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target